USE [master]
GO
/****** Object:  Database [QLNhaTre]    Script Date: 05/07/2019 11:33:35 AM ******/
CREATE DATABASE [QLNhaTre]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhaTre].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhaTre]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DANTOC] [nvarchar](20) NULL,
	[TONGIAO] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[TRINHDO] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[MALOP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [int] NULL,
	[NGAYVAOHOC] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[HOTENCHA] [nvarchar](50) NULL,
	[SDTCHA] [varchar](15) NULL,
	[HOTENME] [nvarchar](50) NULL,
	[SDTME] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[MAKHOI] [int] IDENTITY(1,1) NOT NULL,
	[TENKHOI] [nvarchar](50) NULL,
	[SSTOIDA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MAKHOI] [int] NULL,
	[MANAMHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MANAMHOC] [int] IDENTITY(1,1) NOT NULL,
	[NAMBD] [int] NULL,
	[NAMKT] [int] NULL,
	[NAMBDKT]  AS ((CONVERT([varchar],[NAMBD])+'-')+CONVERT([varchar],[NAMKT])),
PRIMARY KEY CLUSTERED 
(
	[MANAMHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[MAGV] [int] NULL,
	[QUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCKHOE]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCKHOE](
	[MASK] [int] IDENTITY(1,1) NOT NULL,
	[MAHS] [int] NULL,
	[THANGDO] [int] NULL,
	[CHIEUCAO] [float] NULL,
	[DGCC] [nvarchar](50) NULL,
	[CANNANG] [float] NULL,
	[DGCN] [nvarchar](50) NULL,
	[DGC] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KHOILOP] ON 

INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI], [SSTOIDA]) VALUES (1, N'Mầm', 20)
INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI], [SSTOIDA]) VALUES (2, N'Chồi', 25)
INSERT [dbo].[KHOILOP] ([MAKHOI], [TENKHOI], [SSTOIDA]) VALUES (3, N'Lá', 30)
SET IDENTITY_INSERT [dbo].[KHOILOP] OFF
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([ID], [TAIKHOAN], [MATKHAU], [MAGV], [QUYEN]) VALUES (1, N'admin', N'33354741122871651676713774147412831195', NULL, N'Admin')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ('3244185981728979115075721453575112') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [fk_hs_constraint] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [fk_hs_constraint]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOILOP] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MANAMHOC])
REFERENCES [dbo].[NAMHOC] ([MANAMHOC])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[SUCKHOE]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[SUCKHOE]  WITH CHECK ADD  CONSTRAINT [fk_sk__constraint] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUCKHOE] CHECK CONSTRAINT [fk_sk__constraint]
GO
/****** Object:  Trigger [dbo].[SiSoToiDa]    Script Date: 05/07/2019 11:33:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--
CREATE TRIGGER [dbo].[SiSoToiDa] ON [dbo].[HOCSINH]
FOR INSERT, UPDATE
AS
declare @A int = (select malop from inserted)

declare @SS int = (select x.SSTOIDA  from KHOILOP x, LOP y where  y.MAKHOI=x.MAKHOI AND y.MALOP=@A )

IF (SELECT COUNT(a.MAHS) FROM HOCSINH a WHERE a.MALOP=@A) > @SS
BEGIN
	print 'lop full'
	RollBack Tran
END

GO
USE [master]
GO
